@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.min.css';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 10px;
  border: 2px solid #2d2d2d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c;
}

::-webkit-scrollbar-button {
  display: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
